<div class="container">
  <div>
    <h4 class="my-5">投稿一覧</h4>
    <div>
      <%= render 'search_category', categories: @categories %>
    </div>
    <%= render 'index', post_records: @post_records %>
  </div>
</div>
