<%= form_with model: [post_record, comment], local: false do |f| %>
  <div class="field">
    <div class="control">
      <%= f.text_area :comment, rows: '2', style: "width:50%", placeholder: "コメントをここに" %>
      <span>
        <%= button_tag type: "submit", class: "btn btn-default" do %>
          <i class="fa-solid fa-comment fa-lg" style="color: #2766d3;"></i>
        <% end %>
      </span>
    </div>
<% end %>
