<div class="container">
  <div class="my-3">
    <%= link_to "記録する", new_post_record_path, class: 'btn btn-primary' %>
  </div>
  <div id="calendar">
    <%= render 'calendar', post_records: @post_records %>
  </div>
</div>
