<div class="container">
  <div class="background">
    <p class="introduction">
      ようこそ　筋カレへ！<br>
      このサイトは、筋トレを記録するだけではなく、共有することもできます。<br>
      筋トレの方法が分からない方、筋トレの記録方法に迷っている方におすすめです。
    </p>
  </div>
  <h3 class="ml-5 my-5">＜使用方法＞</h3>
  <div class="previews">
    <div class="slider">
      <%= image_tag 'sample_calendar' %>
      <%= image_tag 'sample_new' %>
      <%= image_tag 'sample_post_records' %>
      <%= image_tag 'sample_post_record' %>
    </div>
  </div>
</div>
