<div class="container">
    <div>
      <h4 class="mt-5 mb-3"><%= @category.name %>のトレーニング一覧</h4>
      <div>
        <span>（全<%= @post_records.count %>件）</span>
        <%= render 'public/post_records/index', post_records: @post_records %>
      </div>
    </div>
</div>
