@use '~bootstrap/scss/bootstrap';

//フラッシュメッセージのレイアウト
 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}

.fa-arrow-alt-circle-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 200px;
}

.fa-arrow-alt-circle-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 200px
}

.slider {
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

.previews {
  margin: auto;
}
