<div class="container">
  <h4 class="mt-5">＜カテゴリ編集＞</h4>
  <%= form_with model: @category, url: admin_category_path, method: :patch do |f| %>
  <table class="row my-5 ml-1">
    <tr>
      <td class="pr-3"><b><%= f.label "カテゴリ名：" %></b></td>
      <td class="pr-3"><%= f.text_field :name %></td>
      <td class="pr-4"><%= f.submit "変更", class: "btn btn-success" %></td>
    </tr>
  <% end %>
  </table>
</div>
