/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
 
 html {
  scroll-behavior: smooth;
}
 main {
  margin-top: 47px;
}

//ヘッダー
.navbar {
 background-color: #8BCFF1;
}

//フッター
footer {
 background-color: #8BCFF1;
}

//topに戻るボタン
.page_top_btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-weight: bold;
  padding: 0.7em;
  text-align: center;
  background: #F985B1;
  color: #fff;
  transition: 0.3s0;
}
.page_top_btn:hover {
  background: #F985B1;
  color: #F985B1;
}

//検索バー
.search_form {
    border-radius: 5px;/*検索ボックスの角を丸める*/
}

.select_box {
    border-radius: 5px;
}

.search_btn {
    border-radius: 5px;
    background-color: #F985B1;
}

//フラッシュメッセージ
 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}

//topページ背景画像
.background {
 background-image: image-url('gym.jpg');
 background-size: cover;
 background-position: 50% 0;
}

.introduction {
 font-size: 180%;
 font-weight: bold;
 color: white;
}
