/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 
 
 html {
  scroll-behavior: smooth;
}
 main {
  margin-top: 47px;
}

//ヘッダー
.navbar {
 background-color: #8BCFF1;
}

/*フッター*/
footer {
 background-color: #8BCFF1;
}

/* ボタン全体 */
#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #F985B1;
  opacity: 0.6;
  }

  /* Font Awesome */
  #page_top::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 800;
    content: '\f0d8';
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    width: 22px;
    height: 18px;
    top: 0;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  #page_top::after{
    content: 'PAGE TOP';
    font-size: 10px;
    color: #fff;
    position: absolute;
    top: 15px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

//検索バー
.search_form {
    border-radius: 5px;/*検索ボックスの角を丸める*/
}

.select_box {
    border-radius: 5px;
}

.search_btn {
    border-radius: 5px;
    background-color: #F985B1;
}

//フラッシュメッセージ
 .flash-message {
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}
 
.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}
 
.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
  width: 300px;
  text-align: center;
  margin-left: 50px;
}

//topページ背景画像
.background {
 background-image: image-url('gym.jpg');
 background-size: cover;
 background-position: 50% 0;
}

.introduction {
 font-size: 180%;
 font-weight: bold;
 color: white;
}
